body{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


header{
    position: fixed;
    flex: 0 0 auto;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #212529;
    display: flex;
    color: rgb(177, 177, 177);
    line-height: 50px;
    justify-content: space-between;
    font-size: 14px;    
}
.activeLi{
    color: white;
}
.activeLi a, .activeLi i{
    color: white;
}
header div:nth-child(1){
    margin-left: 30px;
}
header div:nth-child(2){
    margin-right: 50px;    
}
header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
header ul li{
    margin-right: 20px;
}
header ul li a{
    color: rgb(177, 177, 177);
    text-decoration: none;
}

html, body{
    height: 100%;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bottom{
    margin-top: auto;
}



main{
    width: 75%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
main .theNewsOne{
    display: flex;
    width: 48%;
    box-sizing: border-box;
    border: 1px #ccc solid;
    margin-top: 25px;
    border-radius: 6px;
}
main .theNewsOne :hover{
    cursor: pointer;
}
.theNewsOne p{
    font-size: 17px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 0 15px;
}
.theNewsOne span{
    margin-left: 15px;
    font-size: 13px;
    color: #666;
}

.theNewsOne img{
    height: 100%;
    width: 200px;
    border-radius: 6px 0 0 6px;
}

.btns{
    width: 85%;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}
.pages{
    margin: 0 5px;
}
.btns button{
    background-color: white;
    border: 1px #ccc solid;
    line-height: 24px;
    color: rgb(5,110,253);
    width: 24px;
}
.btns .beforePage, .btns .afterPage{
    width: 80px;
}
.btns .beforePage:hover, .btns .afterPage:hover{
    border: 1px solid rgb(5,110,253);
}
.btns .activeBtn{
    background-color: rgb(5,110,253);
    border: none;
    color: white;
}


footer{
    width: 100%;
    height: 100px;
    font-size: 13px;
    background-color: rgb(239, 239, 240);
    box-sizing: border-box;
    flex: 0 0 auto;
}
footer div:nth-child(1){
    height: 40px;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px #ddd solid;
}
footer .info{
    text-align: center;
    line-height: 60px;
    border: none;
    vertical-align: middle;
}
footer .info img{
    width: 30px;
    vertical-align: middle;
}
footer .info span{
    vertical-align: middle;
}




/* 移动端 */
@media screen and (max-width: 375px) {
    header, footer{
        width: 100%;
    }
    footer{
        position: static;
    }
   
    main .theNewsOne{
        width: 100%;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding-bottom: 10px;
    }
    main .theNewsOne div{
        width: 100%;
    }
    main .theNewsOne img{
        width: 100%;
        border-radius: 6px 6px 0 0;
    }
    main .theNewsOne p{
        margin-bottom: 10px;
    }
    main .theNewsOne span{
        margin-bottom: 10px;
    }
}

/* ipad pro端 */
@media screen and (max-width: 1024px) {
    
}

/* ipad端 */
@media screen and (max-width: 768px) and (min-width: 376px) {
   
    .theNewsOne div:nth-child(1){
        width: 45%;
        overflow: hidden;
    }
    .theNewsOne div:nth-child(2){
        width: 65%;
    }
}

